@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #242424;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    margin: 96px 0px;
}

/* NAV-BAR */

nav .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 24px 48px 24px;
}

.nav_links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_link {
    margin-right: 32px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 4px;
    border: 2px solid transparent;
    transition: all 350ms ease;
}

.nav_link:hover {
    border-bottom-color: white;
    transform: scale(105%)
}

.nav_link:last-child {
    border-radius: 9999px;
    padding: 8px 24px;
    background-color: white;
    color: #242424;
}

.nav_link:last-child:hover {
    background-color: whitesmoke;
}

/* LANDING */

#landing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 48px;
    text-align: center;
    color: white;
    font-weight: 800;
    padding-bottom: 16px;
}

.heading_container p {
    font-size: 18px;
    color: whitesmoke;
    text-align: center;
    font-weight: 500;
    margin: 8px;
}

.heading_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
}

.search_bar {
    margin-top: 24px;
    max-width: 1200px;
    position: relative;
    display: flex;
    align-items: center;
}

.search_input {
    width: 100%;
    padding: 12px;
    border: 0px solid transparent;
    color: #242424;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    border-left: 5px solid #242424;
}

.search_btn {
    color: #242424;
    background-color: transparent;
    position: absolute;
    right: 0;
    margin: 8px;
    padding: 8px;
    border: 0px solid transparent;
}

.search_img {
    cursor: pointer;
    transition: all 50ms ease;
}

.search_img:hover {
    transform: scale(105%);
}

.search_box {
    background-color: #ffffff;
    width: 50%;
    padding: 80px 52px;
    border-radius: 8px;
    margin-bottom: 92px;
}

/* SEARCH RESULTS */

.searched_word {
    font-size: 36px;
    font-weight: 600;
}

.word {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.audio_btn {
    cursor: not-allowed;
    background-color: transparent;
    border: none;
    padding: 8px;
}

.audio_img {
    transition: all 50ms ease;
}

.audio_img:hover {
    transform: scale(105%);
}

.details {
    display: flex;
    gap: 10px;
    color: lightgray;
    margin-top: 5px;
    font-size: 16px;
}

.word_definition {
    margin-top: 18px;
    text-align: left;
}

.word_example {
    font-style: italic;
    color: lightgray; 
    border-left: 5px solid #242424;
    padding-left: 20px;
    margin-top: 32px;
    text-align: left;
}

.word_error {
    font-size: 26px !important;
    color: red;
}

.logo_img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 200ms ease;
}

.logo_img:hover {
    transform: scale(107%);
}

.loader {
    height: 24px;
    width: 24px;
    display: none;
    animation: spin 500ms;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.menu_backdrop {
    position: absolute;
    background: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 300ms ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.menu {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 8px;
    height: 40px;
    width: 40px;
    transition: all 300ms ease;
}

.menu_open .menu_backdrop {
    display: flex;
}

.menu:hover {
    transform: scale(107%);
}

@media (max-width: 780px) {
    .heading_container {
        padding: 12px;
    }

    .search_box {
        width: 80%;
    }
}

@media (max-width: 425px) {
    .title {
        font-size: 36px;
    }

    .heading_container p {
        font-size: 16px;
    }

    .search_box {
        padding: 40px 26px;
    }

    .nav_link {
        display: none;
    }

    .logo_img {
        width: 40px;
        height: 40px;
    }

    .mobile_link {
        display: flex;
        margin: 12px 0px 12px 0px;
        font-size: 36px;
    }
}